services:
  registry2:
    build: .                    # 使用当前目录的 Dockerfile 构建镜像
    restart: always             # 容器退出后自动重启
    ports:
      - "443:5000"              # 宿主机 443 映射到容器 5000，docker pull/push 到标准 https 地址不需要加端口号，更方便
    volumes:
      - certs:/certs            # 命名卷 certs 挂载到 /certs
      - auth:/auth              # 命名卷 auth 挂载到 /auth
      - data:/data              # 命名卷 data 挂载到 /data
      - na:/var/lib/registry    # 占位用，以免基础镜像 Docker Registry 的 VOLUME 不挂载就出现匿名卷，其实在 entrypoint.sh 已经用环境变量指向 /data 了
    environment:
      - TZ=Asia/Shanghai        # 使用本地时区查看日志更方便
      - DOMAIN=myregistry.local           # ⚠️ 用于CA证书SAN属性的域名，请根据实际域名修改，将被 deploy.sh 替换
      - IP_ADDRS=127.0.0.1                # ⚠️ 用于CA证书SAN属性的ip地址，请根据实际 IP 修改，将被 deploy.sh 替换
      - AUTH_USER=admin                   # 用于 htpasswd 认证的用户名
      - AUTH_PASS=secretpassword          # 用于 htpasswd 认证的密码，将被 deploy.sh 替换
    # healthcheck 已在 Dockerfile 中定义，此处无需重复

# 定义命名卷（Docker 会自动创建）
volumes:
  certs:
  auth:
  data:
  na:

